* {
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #6F4E37;
    align-items: center;
    padding: 10px 8%
}
.logo{
    color: #6F4E37;
    font-size: 28px;
    font-weight: 700;
}
.link{
    list-style:none;
    display:flex;
    gap:35px;
}
a{
    text-decoration: none;
    color: white;
}
.button{
    text-decoration: none;
    background: #2dac2d;
    color: rgb(35, 19, 19);
    padding: 12px 22px;
    border-radius: 6px;
    transition: .3s;
    display: inline-block;
}